<mat-card appearance="outlined" #contactFormModel>
    <mat-card-content>
        <mat-toolbar>
            <span>Contact Form</span>
            <span class="example-spacer"></span>
        </mat-toolbar>

        <form [formGroup]="contactForm" (ngSubmit)="SaveData()">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" pattern="[a-zA-Z ]*">
            </mat-form-field>

            <div formArrayName="emails">
                @for(email of emails.controls; track email; let i = $index ){
                <div [formGroupName]="i">
                    <mat-form-field class="label">
                        <mat-label>Label</mat-label>
                        <ng-container *ngIf="!isOtherMailLabelSelected[i]; else customMailLabelInput">
                            <mat-select formControlName="label" (selectionChange)="onMailLabelChange($event, i)">
                                @for(label of mailLabels; track label){<mat-option [value]="label.value">{{
                                    label.viewValue }}</mat-option>}
                                <mat-option value="other">Other</mat-option>
                            </mat-select>
                        </ng-container>
                        <ng-template #customMailLabelInput>
                            <input matInput formControlName="customMailLabel"
                                (input)="onCustomLabelInput($event, i, 'mail')" [value]="emails.get('label')?.value"
                                pattern="[a-zA-Z ]*" />
                        </ng-template>
                    </mat-form-field>

                    <mat-form-field class="phoneInp">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email"
                            pattern="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*">
                        <div class="icons">
                            @if(i === emails.length - 1){
                            <mat-icon mat-icon-button (click)="addEmail()" matSuffix>add</mat-icon>
                            }
                            @if(emails.length > 1){
                            <mat-icon mat-icon-button (click)="removeEmail(i)" matSuffix>close</mat-icon>
                            }
                        </div>
                    </mat-form-field>
                </div>
                }
            </div>

            <div formArrayName="phoneNumbers">
                @for(phone of phoneNumbers.controls; track phone; let i = $index ){
                <div [formGroupName]="i">
                    <mat-form-field class="label">
                        <mat-label>Label</mat-label>
                        <ng-container *ngIf="!isOtherPhoneLabelSelected[i]; else customPhoneLabelInput">
                            <mat-select formControlName="label" (selectionChange)="onPhoneLabelChange($event, i)">
                                @for(label of phoneLabels; track label){<mat-option [value]="label.value">{{
                                    label.viewValue }}</mat-option>}
                                <mat-option value="other">Other</mat-option>
                            </mat-select>
                        </ng-container>
                        <ng-template #customPhoneLabelInput>
                            <input matInput formControlName="customPhoneLabel"
                                (input)="onCustomLabelInput($event, i, 'phone')"
                                [value]="phoneNumbers.get('label')?.value" pattern="[a-zA-Z ]*" />
                        </ng-template>
                    </mat-form-field>

                    <mat-form-field class="phoneInp">
                        <mat-label>Phone</mat-label>
                        <input matInput type="number" formControlName="phoneNumber" pattern="^\d{10}$" maxlength="10">
                        <div class="icons">
                            @if(i === phoneNumbers.length - 1){
                            <mat-icon mat-icon-button (click)="addPhoneNumber()" matSuffix>add</mat-icon>
                            }
                            @if(phoneNumbers.length > 1){
                            <mat-icon mat-icon-button (click)="removePhoneNumber(i)" matSuffix>close</mat-icon>
                            }
                        </div>
                    </mat-form-field>
                </div>
                }
            </div>
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput formControlName="address">
            </mat-form-field>
            <button mat-raised-button type="submit" [disabled]="this.contactForm.invalid">Submit</button>
        </form>
    </mat-card-content>
</mat-card>