/* .topBar{
    display:flex;
    justify-content: space-between;
} */
.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-info {
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-top: 1rem;
}

.info-item {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}

.label {
    font-weight: bold;
    margin-right: 10px;
    width: 15%;
}

.value {
    width: 85%;
}